@import '../../../Vars.scss';

.input {
  display: flex;
  flex-direction: column;
  input {
    margin: 10px 0;
    padding: 20px 30px;
    border-radius: 50px;
    min-width: 500px;
    color: $blackColor;
    width: 100%;
}
}
