.projectCard {
  width: 100%;
  margin: 50px 0;
  height: 400px;

  img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 20px;
  }

  &__content {
    margin-left: 50px;
    width: 60%;

    p {
      margin: 10px 0;
      font-size: 24px;
    }

    &__button {
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
}
