@import './Vars.scss';

body {
  background-color: $blackColor;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $whiteColor;
}

a {
  text-decoration: none;
  color: $whiteColor;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.red {
  color: $redColor;
}

.blue {
  color: $blueColor;
}

.yellow {
  color: $yellowColor;
}

.green {
  color: $greenColor;
}

.white {
  color: $whiteColor;
}

.black {
  color: $blackColor;
}

.redBackground {
  background-color: $redColor;
}

.blueBackground {
  background-color: $blueColor;
}

.yellowBackground {
  background-color: $yellowColor;
}

.greenBackground {
  background-color: $greenColor;
}

.whiteBackground {
  background-color: $whiteColor;
}

.blackBackground {
  background-color: $blackColor;
}

.redBorder {
  border-color: $redColor;
}

.blueBorder {
  border-color: $blueColor;
}

.yellowBorder {
  border-color: $yellowColor;
}

.greenBorder {
  border-color: $greenColor;
}

.whiteBorder {
  border-color: $whiteColor;
}

.blackBorder {
  border-color: $blackColor;
}
