@import '../../../Vars.scss';

.iconInput {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: $whiteColor;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px 10px 10px 30px;

  input {
    color: $blackColor;
    font-size: 24px;
    width: 100%;
  }

  &__button {
    background: none;
  }

  path {
    color: $blackColor;
  }
}
